<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manage}">

<head>
    <meta charset="utf-8">
    <title>Tables / Data - NiceAdmin Bootstrap Template</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/assets/js/option.js"></script>
    <script>
        // adminNo를 모달의 hidden input에 설정하는 함수
        function setDeleteTarget(menuNo) {
            document.getElementById('menuNo').value = menuNo;
        }

    </script>
</head>

<body>


<main id="main" class="main">
    <div layout:fragment="content">
        <div class="pagetitle">
            <h1>옵션 관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">매장 관리</li>
                    <li class="breadcrumb-item active">상품(메뉴) 옵션 관리</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteConfirmModalLabel">삭제 확인</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                삭제하시겠습니까?
                                <input type="hidden" id="hiddenOptionNo" name="optionNo" value="">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-danger">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">검색</h5>

                            <!-- Default Table -->
                            <form th:action="@{/manager/menu/option/list}" class="border p-3" method="get">

                                <div class="row mb-2">
                                    <label class="col-sm-2 col-form-label">호텔명</label>
                                    <div class="col-sm-4 --bs-success-border-subtle">
                                        <select class="form-select" aria-label="Default select example" name="hotelNo" id="hotelNo">
                                            <option value="">호텔 선택</option>
                                            <th:block th:each="hotel : ${hotel}">
                                                <option th:value="${hotel.hotelNo}" th:text="${hotel.name}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 col-form-label">매장명</label>
                                    <div class="col-sm-4 --bs-success-border-subtle">
                                        <select class="form-select" aria-label="Default select example" name="storeNo" id="storeNo">
                                            <option value="">매장 선택</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-sm-2 col-form-label">1차 카테고리</label>
                                    <div class="col-sm-4 --bs-success-border-subtle">
                                        <select class="form-select" aria-label="Default select example" name="category1" id="category1">
                                            <option value="">1차 카테고리 선택</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 col-form-label">2차 카테고리</label>
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example" name="category2" id="category2">
                                            <option value="">2차 카테고리 선택</option>
                                            <!--                                            <option th:each="storeType : ${storeTypes}" th:value="${storeType}" th:text="${storeType.getValue()}"></option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-sm-2 col-form-label">메뉴명</label>
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example" name="menuNo" id="menuNo">
                                        <option value="">메뉴 선택</option>
                                        <!--                                            <option th:each="storeType : ${storeTypes}" th:value="${storeType}" th:text="${storeType.getValue()}"></option>-->
                                    </select>
                                    </div>
                                </div>


                                <div class="text-end mt-3">
                                    <button type="submit" class="btn btn-primary" name="search">조회</button>
                                    <a th:href="@{/manager/menu/option/list}">
                                        <button type="button" class="btn btn-secondary">초기화</button>
                                    </a>
                                </div>
                            </form>
                            <!-- End Default Table Example -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">회사 목록</h5>
                                <!--넘버 회사명 아이디 대표 연락처 매장수 수정삭제-->
                                <!-- Table with stripped rows -->
                                <form th:action="@{/manager/menu/delete}" class="border p-3" method="post">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>
                                                <b>번호</b>
                                            </th>
                                            <th>메뉴명</th>
                                            <th>매장명</th>
                                            <th>옵션명</th>
                                            <th>가격</th>
                                            <th>1차 카테고리</th>
                                            <th>2차 카테고리</th>
                                            <th>생성일</th>
                                            <th>삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="menu: ${list.dtoList}">
                                            <td th:text="${menu.menuOptionNo}"></td>
                                            <td th:text="${menu.menuName}"></td>
                                            <td th:text="${menu.storeName}"></td>
                                            <td th:text="${menu.name}"></td>
                                            <td th:text="${menu.price}"></td>
                                            <td th:text="${menu.category1Name}"></td>
                                            <td th:text="${menu.category2Name}"></td>
                                            <td th:text="${#temporals.format(menu.regDate,'yyyy-MM-dd')}"></td>
                                            <td class=""  >
                                                <button type="button" class="btn btn-danger" th:data-option-id="${menu.menuOptionNo}">삭제</button>
                                            </td>

                                            <!-- Modal -->
                                        </tr>
                                        </tbody>
                                    </table>

                                </form>
                                <nav>
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item" th:if="${list.prev}">
                                                <a class="page-link" th:href="@{/manager/menu/option/list(page=${1},hotelNo=${param.hotelNo}, storeNo=${param.storeNo},category1=${param.category1}, category2=${param.category2}, menuName=${param.menuName})}">처음으로</a>
                                            </li>
                                            <li class="page-item" th:if="${list.prev}">
                                                <a class="page-link" th:href="@{/manager/menu/option/list(page=${list.start -1},hotelNo=${param.hotelNo}, storeNo=${param.storeNo},category1=${param.category1}, category2=${param.category2}, menuName=${param.menuName})}">이전</a>
                                            </li>

                                            <th:block th:each="i : ${#numbers.sequence(list.start, list.end)}"> <!-- 1/2/3/4/5/6/7/8/9/10-->
                                                <li th:class="'page-item' + (${list.page == i} ? ' active' : '')">
                                                    <a th:if="${list.page != i}" th:href="@{/manager/menu/option/list(page=${i},hotelNo=${param.hotelNo}, storeNo=${param.storeNo},category1=${param.category1}, category2=${param.category2}, menuName=${param.menuName})}" th:class="'page-link'" th:text="${i}"></a>
                                                    <span th:if="${list.page == i}" th:class="'page-link'" th:text="${i}" aria-current="page"></span>
                                                </li>
                                            </th:block>
                                            <!--                                        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
                                            <!--                                        <li class="page-item active" aria-current="page">-->
                                            <!--                                            <a class="page-link" href="#">2</a>-->
                                            <!--                                        </li>-->
                                            <li class="page-item" th:if="${list.next}">
                                                <a class="page-link" th:href="@{/manager/menu/option/list(page=${list.end +1},hotelNo=${param.hotelNo}, storeNo=${param.storeNo},category1=${param.category1}, category2=${param.category2}, menuName=${param.menuName})}" >다음</a>
                                            </li>
                                            <li class="page-item" th:if="${list.next}">
                                                <a class="page-link" th:href="@{/manager/menu/option/list(page=${list.last},hotelNo=${param.hotelNo}, storeNo=${param.storeNo},category1=${param.category1}, category2=${param.category2}, menuName=${param.menuName})}" >마지막</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </nav>

                                <!-- End Table with stripped rows -->
                                <div class="text-end">
                                    <a th:href="@{/manager/menu/option/register}" class="btn btn-primary">옵션 등록</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</main><!-- End #main -->


</body>

</html>