<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manage}">

<head>

    <title>공지사항 수정</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/assets/js/notice.js"></script>
</head>

<body>

    <main>
        <div layout:fragment="content">
            <section class="section">
                <div class="row">
                    <div>
                        <!--넘버 회사명 아이디 대표 연락처 -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">공지 수정</h5>
                                <!-- General Form Elements -->
                                <form th:action="@{/manager/notice/update}" method="post">
                                    <input type="hidden" name="noticeNo" th:field="${noticeDTO.noticeNo}">
                                    <input type="hidden" name="adminNo" th:field="${noticeDTO.adminNo}">

                                    <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">구분</legend>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="group" id="gridRadios1" value="" onclick="handleGridRadios1Click()">
                                                <label class="form-check-label" for="gridRadios1">
                                                    전체
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="group" id="gridRadios2" value="hotel" onclick="handleGridRadios2Click()">
                                                <label class="form-check-label" for="gridRadios2">
                                                    호텔
                                                </label>
                                            </div>
                                            <!--호텔체크시 호텔선택창-->
                                            <div id="u"></div>
                                        </div>

                                    </fieldset>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">제목</label>
                                        <div class="col-sm-10">
                                            <input name="title" type="text" class="form-control" th:value="${noticeDTO.title}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">내용</label>
                                        <div class="col-sm-10">
                                                <textarea name="content" class="form-control" th:text="${noticeDTO.content}" id="floatingTextarea2" style="height: 150px">
                                                </textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label  class="col-sm-2">작성일</label>
                                        <div class="col-sm-10">
                                            <span th:text="${#temporals.format(noticeDTO.regDate,'yyyy-MM-dd')}">aa@aa.com</span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label  class="col-sm-2">수정일</label>
                                        <div class="col-sm-10">
                                            <span th:text="${#temporals.format(noticeDTO.modDate,'yyyy-MM-dd')}">김우리</span>
                                        </div>
                                    </div>

                                    <input class="form-control" type="hidden" name="noticeNo" th:value="${noticeDTO.noticeNo}">
                                    <input class="form-control" type="hidden" name="page" th:value="${pageResponseDTO.page}">
                                    <input class="form-control" type="hidden" name="searchTitle" th:value="${noticeDTO.title}">
                                    <input class="form-control" type="hidden" name="searchContent" th:value="${noticeDTO.content}">

                                    <div class="row mb-3 text-end">
                                        <label class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary" onclick="return validateForm()">수정</button>
                                            <a th:href="@{/manager/notice/list}" class="btn btn-secondary">취소</a>
                                        </div>
                                    </div>

                                </form><!-- End General Form Elements -->

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </main><!-- End #main -->


</body>

</html>